.tasks button {
    float: right;
    margin-bottom: 10px;
}

.tasks, .login {
    padding: 10px;
}

td img {
    cursor: pointer;
}

td.status {
    display: grid;
}

.status span {
    font-size: 10px;
}